// customizations

// banner alignment
.custom_banner {
  text-align: center;
  img {
    max-width: 140px;
    @include breakpoint('<=medium') {
      max-width: 100px;
    }
  }
  h1 {
    margin-bottom: -10px;
  }
}

// adjust background color of Skills/Tech div
#main .my_skills {
  background-color: #757575;
}

// toggle oldies class visibility
.oldies_hidden {
  display: none;
}

// add border to top and left/right of contact div
.custom_contact {
  border: 1px solid _palette(border);
}

// adjust width of contact form
#contact .contact_form {
  max-width: 1000px;
}

// center text in footer
.custom_footer {
  text-align: center;
}