// adjust background color of Skills/Tech div
#main .my_skills {
  background-color: #757575;
}
// adjust width of contact form
#contact .contact_form {
  max-width: 1000px;
}
// personal logo in banner
.my_logo {
  max-width: 140px;
  margin-left: 10%;

  @include breakpoint('<=medium') {
    max-width: 100px;
  }
}
// formatting issues in banner
.custom_logo {
    h1 {
      margin-bottom: -10px;
    }
}
// toggle oldies class
.oldies_hidden {
  display: none;
}